* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  font-weight: bolder;
  min-height: 100vh;
  background: linear-gradient(to top right, #000000, #000000);
  overflow-y: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 300px);
  gap: 1em;
  width: 100vw;
  height: 100vh;
  padding: 1em;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top left, rgba(255, 255, 255, 0.632), rgba(255, 255, 255, 0.275));
  border-radius: 1.5rem;
  height: 100%;
  transition: 0.3s ease;
}

.box:hover {
  background: linear-gradient(to top left, rgba(255, 255, 255, 0.632), rgba(255, 255, 255, 0.275));
  transform: scale(1.03);
}

.grid-container {
  grid-template-areas:
    "box-1 box-2 box-2"
    "box-1 box-3 box-3"
    "box-4 box-5 box-6"
    "box-7 box-5 box-8"
    "box-9 box-9 box-8";
}

@media (max-width: 56em) {
  .grid-container {
    grid-template-areas:
      "box-1 box-1"
      "box-2 box-3"
      "box-4 box-5"
      "box-6 box-6"
      "box-7 box-8"
      "box-9 box-9";
      gap: 0.5em;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 220px);
  }
}

@media(max-width: 42em){
  .grid-container{
    grid-template-areas:
    "box-2 box-1"
    "box-3 box-1"
    "box-3 box-4"
    "box-5 box-4"
    "box-6 box-7"
    "box-8 box-7"
    "box-9 box-9";
    gap: 0.5em;
    grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(9, 180px);
  }
}


@media(max-width: 28em){
  .grid-container{
    grid-template-areas:
    "box-1"
    "box-2"
    "box-3"
    "box-4"
    "box-5"
    "box-6"
    "box-7"
    "box-8"
    "box-9";
    gap: 0.5em;
    grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(9, 180px);
  }
}