* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  font-weight: bolder;
  min-height: 100vh;
  background-color: rgb(111, 0, 255);
  overflow-y: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 300px);
  gap: 1em;
  width: 100vw;
  height: 100vh;
  padding: 1em;
  grid-template-areas:
    "box-1 box-2 box-2"
    "box-4 box-3 box-3"
    "box-4 box-5 box-6"
    "box-7 box-5 box-8"
    "box-9 box-9 box-8";
}

.box {
  background: linear-gradient(to top left, rgb(111, 0, 255), rgb(111, 0, 255));
  border-radius: 0.5rem;
  height: 100%;
  transition: 0.3s ease;
  border: 3px solid white;
  box-shadow: 5px 5px 0px rgb(255, 255, 255);
}

.box:hover {
  background: linear-gradient(to top left, rgb(111, 0, 255), rgba(111, 0, 255, 0.276));
  border: 3px solid black;
  transform: scale(1.03);
  box-shadow: 5px 5px 0px rgb(0, 0, 0);
}

.box1-context {
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 1em;
  justify-content: center;
  flex-wrap: wrap; 
}

 .js, .csharp{
  padding: 1.3em;
  background-color: white;
  border: 3px solid black;
  box-shadow: 5px 5px 0px rgb(0, 0, 0);
  border-radius: 0.5rem;
  text-align: center;
  font-weight: bold;
  flex-basis: 100%; 
  box-sizing: border-box; 
}

@media (max-width: 56em) {
  .grid-container {
    grid-template-areas:
      "box-1 box-1"
      "box-2 box-3"
      "box-4 box-5"
      "box-6 box-6"
      "box-7 box-8"
      "box-9 box-9";
    gap: 0.7em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 220px);
    
  }

  .box1-context {
    flex-direction: row;
    gap: 1em;
    justify-content: space-evenly;
  }

}

@media (max-width: 42em) {
  .grid-container {
    grid-template-areas:
      "box-2 box-1"
      "box-3 box-1"
      "box-3 box-4"
      "box-5 box-4"
      "box-6 box-7"
      "box-8 box-7"
      "box-9 box-9";
    gap: 0.7em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, 180px);
  }
}

@media (max-width: 28em) {
  .grid-container {
    grid-template-areas:
      "box-1"
      "box-2"
      "box-3"
      "box-4"
      "box-5"
      "box-6"
      "box-7"
      "box-8"
      "box-9";
    gap: 0.7em;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 250px);
  }
}
